<mat-toolbar>
    <!-- Menu -->
    <span>Abstract Web System</span>
    <span class="example-spacer"></span>

    <!-- LogIn -->
    <button mat-icon-button (click)="goTo('/login')">
        <mat-icon class="white-icon">login</mat-icon>
    </button>
    <span>Log in</span>

    <!-- Register -->
    <button mat-icon-button (click)="goTo('/register')">
        <mat-icon class="white-icon">assignment</mat-icon>
    </button>
    <span>Sign up</span>

</mat-toolbar>

<div class="main-div">
    <form [formGroup]="cahngePasswordReqForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <h1>Request password change:</h1>
            <!-- Email -->
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" class="form-control">
                <mat-hint class="hitColor"
                    *ngIf="cahngePasswordReqForm.get('email')?.value !==null && cahngePasswordReqForm.get('email')?.hasError('required')">
                    Email is required
                </mat-hint>
                <mat-hint class="hitColor"
                    *ngIf="cahngePasswordReqForm.get('email')?.value !==null && cahngePasswordReqForm.get('email')?.hasError('email')">
                    Email not valid
                </mat-hint>
            </mat-form-field>

            <button mat-flat-button color="primary" [disabled]="!cahngePasswordReqForm.valid"
                type="submit">Next</button>
        </div>
    </form>
</div>

<ng-template #changePasswordRequestDialog>
    <h1 mat-dialog-title>Change password request</h1>
    <div mat-dialog-content>
        <div class="img-container">
            <img src="../../../assets/changePasswordEmailReq.png">
            <p>We have sent a code to '{{cahngePasswordReqForm.get('email')?.value}}'.
                After receiving the email use the code to complete the change password process.</p>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)='goToChangePasswordPage()'>OK</button>
    </div>
</ng-template>