.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #37474F;
  }
  
.white-icon {
    color: white;
}

span {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > * {
    width: 40%;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.main-div> * {
    width: 100%;
}

h1 {
    text-align: left;
}

.hitColor {
    color: #FF0000; /* green */
 }

.img-container {
    text-align: center;
}