<form [formGroup]="cahngePasswordReqForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <!-- Email -->
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" class="form-control">
            <mat-hint class="hitColor" *ngIf="cahngePasswordReqForm.controls?.['email']?.errors?.['required']">Email is required
            </mat-hint>
            <mat-hint class="hitColor" *ngIf="cahngePasswordReqForm.controls?.['email']?.errors?.['email']">Email not valid
            </mat-hint>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="!cahngePasswordReqForm.valid" type="submit">Next</button>
    </div>
</form>

<ng-template #changePasswordRequestDialog>
    <h1 mat-dialog-title>Change password request</h1>
    <div mat-dialog-content>
        <div class="img-container">
            <img src="../../../assets/changePasswordEmailReq.png">
            <p>We have sent a code to '{{cahngePasswordReqForm.get('email')?.value}}'.
                After receiving the email use the code to complete the change password process.</p>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)='goToChangePasswordPage()'>OK</button>
    </div>
</ng-template>