<div *ngIf="userData" class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img [src]="userImage" class="header-image">
            </div>
            <mat-card-title>{{userData.firstName}} {{userData.lastName}}</mat-card-title>
            <mat-card-subtitle>{{userData.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Role: <b>{{userData.role}}</b></p>
            <p>Phone number: <b>{{userData.phone}}</b></p>

            <input style="display: none" type="file" accept="image/png, image/gif, image/jpeg"
                (change)="onImageChange($event)" #imageInput>
            <button mat-raised-button (click)="imageInput.click()">Change profile picture</button>

        </mat-card-content>

    </mat-card>
</div>