mat-form-field {
    width: 100%;
}

.siteSelection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.container{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}